<!DOCTYPE html>
<html>
  <head>
    <title>Radar Pulse Cluster Predictor</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Radar Pulse Analysis</h1>
      <form method="POST">
        <div class="form-group">
          <label for="TOA">TOA (Time of Arrival) <small>(µs)</small>:</label>
          <input type="number" step="0.0001" name="TOA"
            placeholder="1.6368 to 6199.2623" required />
        </div>

        <div class="form-group">
          <label for="PRI">PRI (Pulse Repetition Interval) <small>(µs)</small>:</label>
          <input type="number" step="0.0001" name="PRI"
            placeholder="803.5018 to 1996.2817" required />
        </div>

        <div class="form-group">
          <label for="Frequency">Frequency <small>(MHz)</small>:</label>
          <input type="number" step="0.0001" name="Frequency"
            placeholder="8505.3852 to 9598.3965" required />
        </div>

        <div class="form-group">
          <label for="Amplitude">Amplitude <small>(linear unit)</small>:</label>
          <input type="number" step="0.0001" name="Amplitude"
            placeholder="0.5005 to 1.4990" required />
        </div>

        <button type="submit">Predict Cluster</button>
      </form>
    </div>
  </body>
</html>
